@charset "utf-8";
/* CSS Document */
.join-img{
margin-top:5%;
margin-bottom:5%;
width:950px;
height:86px;
background:url(../img/dlflow.png);
}
.join-content{
width:950px;
height:463px;
background:url(../img/dltextbg.png)
}
.join-conetnt{
padding-left:8%;
padding-right:8%;
padding-top:20%;
font-size:14px;
}
.join-conetnt span{
font-weight:bold;
}
.join-connect{
margin-top:11%;
padding-left:4%;
}
.join-qq{
margin-bottom:24%;
}
.join-qq img{
margin-right:3%;
}