@charset "utf-8";
/* CSS Document */
.help-03-item-parent{

}
.help-03-item{
margin:0px;
padding:0px;
width:80%;
height:160px;
border-top:1px solid #E4E4E4;
border-left:1px solid #E4E4E4;
border-bottom:1px solid #E4E4E4;
text-align:center;
}
.help-03-item:hover{
background-color:#E7F9FF;
cursor:pointer;
}
.nav-tabs{

min-height:500px;
}
.nav-tabs li{
margin-top:20%;
}
.help-content{
margin-left:20%;
margin-top:10%;
font-size:22px;
font-weight:bold;
color:#333333;
min-height:500px;
}
.help-content li{
margin-top:5%;
color:#333333;
}
#panel-86520 p{
	margin-top:5%;
	margin-bottom:5%;
}