/* CSS Document */
html,body{
background-color:#FFFFFF;
margin:0px;
padding:0px;
}
.content-center{
margin-top:5%;
text-align:center;
}
.content-center .span3{
border-right:1px solid #999999;
}
.content-center .span3 img{
width:168px;
height:128px;
}
.hover-panel{
cursor:pointer;
color:#FFFFFF;
}
